.game_page {
    overflow: hidden;
}

.recent_played {
    width: auto;
    height: 175px;
    display: flex;
    gap: 14px;
    overflow-y: hidden;
    overflow-x: auto;
    white-space: nowrap;
}

.suggestions {
    width: auto;
    height: 330px;
    display: flex;
    gap: 14px;
    overflow-y: hidden;
    overflow-x: auto;
    white-space: nowrap;
    margin-bottom: 30px;
}