.game_step {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
  margin: 10px 0;
}

.game_step > hr {
  position: absolute;
  margin: 0;
  top: 50%;
  transform: translate(0, -50%);
  width: 90%;
}